<template>
  <div class="home">
    <Meditation msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Meditation from '@/components/Meditation.vue'

export default {
  name: 'Home',
  components: {
    Meditation
  }
}
</script>
<style lang="scss" scoped>
.home{
  width: 80%;
  margin: 0 auto;
}
</style>
