<template>
<div class="circle">

  <div class="outerCircle">
    <div class="innerCircle" v-bind:style="{ 'animation-iteration-count': startingBreaths }" v-bind:class="{ breathingAnimation: meditationStarted }">


    </div>
  </div>

</div>
</template>

<script>
export default {
name: "Circle",
  props:["breathNumber", "meditationStarted", "startingBreaths", "instructions"],


}
</script>

<style lang="scss" >
.circle{
display: flex;
justify-content: center;
  margin-top:100px;
  .outerCircle{
    width: 20vw;
    height: 20vw;
    border: 10px solid white;
    border-radius: 20000px;
    display: flex;
    justify-content: center;
    align-items: center;
    .innerCircle{
      width: 20%;
      height: 20%;
      background-color: #7777ff;
      border-radius: 2000px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}

.breathingAnimation{
  animation-name: breathing-animation;
  animation-duration: 10s;
}
.animation-iterations{

}
@keyframes breathing-animation {
  0% {
    width: 20%;
    height: 20%;
  }
  35%{
    width: 100%;
    height: 100%;
  }
  60%{
    width: 100%;
    height: 100%;
  }
  100% {
    width: 20%;
    height: 20%;
  }
}
@media (max-width: 1100px) {
  .outerCircle {
    width: 40vw !important;
    height: 40vw !important;
  }
}

@media (max-width: 900px) {
  .circle {
    margin-top:50px;
  }
  h1{
    font-size: 1.5em !important;
  }
  .quote{
    margin-top: 0px;
  }
  .instructions{
    font-size: 15px !important;
  }
}

</style>