<template>
  <div class="hello" >
    <h1>Meditative Breathing</h1>

    <transition key="3" name="slide-fade" mode="out-in">
    <h3 class="quote">{{quote}}</h3>
    </transition>
  <Slider :class="{'hide': meditationStarted}" v-on:inputBreath="setBreaths($event)"/>
    <Circle :breathNumber="numberOfBreaths" :startingBreaths="startingBreaths" :meditationStarted="meditationStarted" :instructions="instructions"/>
    <h4>Breaths left:  {{numberOfBreaths}}</h4>
    <div class="instructions" >

      <transition key="1" name="slide-fade" mode="out-in">
        <p :key="instructions">{{instructions}}</p>
      </transition>
    </div>
    <button class="button" @click="startMeditation" :disabled="meditationStarted" :class="{'button-disabled': meditationStarted}" >{{ buttonText }}</button>
  </div>
</template>

<script>
import Slider from "@/components/Slider";
import Circle from "@/components/Circle";
import axios from "axios";
export default {
  name: 'Meditation',
  components:{
    Slider,
    Circle,
  },
  props: {
    msg: String
  },
  data(){
    return{
      numberOfBreaths: 3,
      startingBreaths: 3,
      meditationStarted: false,
      instructions: "Prepare to start breathing",
      counter: 0,
      quotes:[{
        text:"First quote"
      }],
      quote: "This will help you focus on your breathing and show you how to do it properly."



    }
  },
  mounted() {


        axios.get('https://type.fit/api/quotes').then((result)=>{
          this.quotes =  result.data
        })
    setInterval(()=>{

      this.counter++;
      this.quote = this.quotes[this.counter].text


    },5000)
      },

  methods:{
    setBreaths(event){
      this.numberOfBreaths = event;
      this.startingBreaths =event;

    },
    startMeditation(){
      this.meditationStarted = !this.meditationStarted;
        if(this.meditationStarted){
          //do first breath
          this.takeBreath(this.startingBreaths)
          //Next breath
          let timer = setInterval( ()=>{
            if(this.meditationStarted){
              this.takeBreath()

            }
            if(this.numberOfBreaths == 0){
              clearInterval(timer);
            }
          }, 10000);

        }
    },
    takeBreath(){
      if(this.meditationStarted){
        this.numberOfBreaths--;
        this.instructions = "Breathe in";

        const prvi = setTimeout(()=>{
          if(!this.meditationStarted){
            clearTimeout(prvi)
          }else{
            this.instructions = "Hold"

          }

         const drugi = setTimeout(()=>{
           if(!this.meditationStarted){
             clearTimeout(drugi)

           }else{
             this.instructions="Breathe out"

           }


          },2500)
        },3500)


        if(this.numberOfBreaths == 0 || !this.meditationStarted){
          setTimeout(()=>{
            this.cancelMeditation();
            this.meditationStarted = false;
          },9000)
        }
      }

    },
    cancelMeditation(){
      this.numberOfBreaths = 0;
      this.instructions="Wanna go again?"
      this.numberOfBreaths = this.startingBreaths
    }
  },
  computed:{
    buttonText(){
      if(this.meditationStarted){
        return "Breathing"
      }else{
        return "Let's go!"
      }
    },


  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h1{
  font-size: 2.5em;
}
h3 {
  margin: 40px 0 40px 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.button{
  background-color: #7777ff;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 2000px;
  padding: 20px 100px;
}
.button-disabled{
  background-color: #c3c3c3;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 2000px;
  padding: 20px 100px;
}
div.instructions{
  margin: 20px auto;
  border-radius: 2000px;
  width: 20%;
  transition-property:width;
  padding: 0px 30px;
  background-color: rgba( 	255, 187, 119, 0.8);
  white-space: nowrap;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    color: #fff;
    text-align: center;

  }
}
.hide{
  opacity: 0;
  scale: 0;
  transition: 1s;
}
.slide-fade-enter-active {
  transition: all .3s ease;
  opacity: 1;

}
.slide-fade-leave-active {
  opacity: 0;
  transform: translateX(-50px);

  transition: all 0.3s;
}
.slide-fade-enter{

}
.slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
