<template>
  <div class="slider">
    <select name="breathNumber" id="breathNumber" @change="sendBreaths()" v-model="selectedBreaths">
      <option v-bind="selectedBreaths" v-for="breathOption  in breathOptions" :value="breathOption" :key="breathOption">{{breathOption}} Breaths</option>
    </select>
  </div>
</template>

<script>
export default {
name: "Slider",
  data(){
  return{
    breathOptions:[3,5,7],
    selectedBreaths: 3,

  }},
  methods:{
  sendBreaths(){
    this.$emit('inputBreath', this.selectedBreaths)

  }
  }
}
</script>

<style lang="scss" scoped>
.slider{

  select{
    position: relative;
    width: 60%;
    height: 50px;
    text-align: center;
    transition: 1s;
    background-color: #7777ff;
    color: #fff;
    border-radius: 10px;
    &:focus{
      outline: none;

    }
  }
}

</style>