<template>
  <router-view/>
</template>

<style lang="scss">
body{
  margin: 0;
  padding: 0;
  background-color: #ffa382;

}
*{
  transition: 0.7s;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  background-color: #ffa382;
  //background-image: url("assets/calm-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  //height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #fff;



}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
